body {
  margin: 0;
  font-family: Helvetica, Sans-Serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;

  @include sm {
    font-size: 12px;
  }
}
