body {
  background-image: url("/Home.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.driversContainer {
  text-align: center;

  h1 {
    display: inline;
    text-shadow: 3px 3px $third-color;
    border-bottom: 3px solid $third-color;
  }

  .filters {
    display: flex;
    justify-content: center;
    gap: 16px;
    flex-wrap: wrap;

    select {
      border: 2px solid #4741d7;
      border-radius: 3px;

      &:focus {
        outline: none;
      }

      &:hover {
        cursor: pointer;
      }
    }

    button {
      border: 2px solid #4741d7;
      border-radius: 3px;

      &:hover {
        cursor: pointer;
        background-color: gray;
      }
    }
  }

  .pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;

    label {
      margin: 0.5em;
      text-shadow: 3px 3px $third-color;
      font-weight: bold;
    }

    button {
      border: 2px solid #4741d7;
      border-radius: 3px;

      &:hover {
        cursor: pointer;
        background-color: $third-color;
        -webkit-text-stroke: 1px white;
        color: white;
      }
    }
  }

  .inputPagination {
    text-align: center;
    border: 2px solid #4741d7;
    border-radius: 3px;

    &:focus {
      outline: none;
    }
  }

  .cardsContainer {
    text-align: initial;
    padding: 10px 24px 24px 24px;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    justify-content: space-around;
    gap: 20px;
  }

  .scrollUp {
    border: 2px solid #4741d7;
    border-radius: 3px;
    transition: transform 0.2s;

    &:hover {
      cursor: pointer;
      background-color: $third-color;
      -webkit-text-stroke: 1px white;
      color: white;
      transform: scale(1.1);
    }
  }
}
