body {
  background-image: url("/Home.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.driversContainer {
  text-align: center;

  h1 {
    display: inline;
    text-shadow: 3px 3px $third-color;
    border-bottom: 3px solid $third-color;
  }

  .filters {
    display: flex;
    justify-content: center;
    gap: 16px;

    select {
      border: 2px solid #4741d7;
      border-radius: 3px;

      &:focus {
        outline: none;
      }
    }
  }

  .cardsContainer {
    text-align: initial;
    padding: 10px 24px 24px 24px;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    justify-content: space-around;
    gap: 20px;
  }
}
