.detailContainer {
  background-image: url("/DriverDetails.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: $first-color;

  line-height: 1.5;
  text-transform: capitalize;
  position: relative;

  .firstSection {
    text-align: center;
    margin-bottom: 6em;

    h1 {
      margin-bottom: 0;
      color: white;
    }

    label {
      display: none;
      margin-bottom: 0.5em;
      text-shadow: none;
      color: white;
    }

    button {
      margin-bottom: 1em;
      border: 3px solid $third-color;
      border-radius: 0.5em;
      transition: transform 0.2s;

      &:hover {
        cursor: pointer;
        transform: scale(1.1);
      }
    }

    img {
      border-style: groove;
      clip-path: circle(60%);
      width: 250px;

      @include sm {
        width: 150px;
      }
    }

    span,
    p {
      margin-left: 2em;
      margin-right: 2em;
      background-color: white;
      background-size: cover;
      padding: 0.5em;
    }

    b {
      border-bottom: 3px solid $third-color;
    }

    p {
      text-align: justify;
    }
  }

  .footer {
    position: absolute;
    width: 100%;
    bottom: 0;
  }
}
