.detailContainer {
  background-color: rgba(71, 65, 215, 0.3);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  line-height: 1.5;
  text-transform: capitalize;
  position: relative;
  width: 100%;

  .firstSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 90%;
    margin-bottom: 5em;

    h1 {
      margin-bottom: 0;
    }

    label {
      display: none;
      margin-bottom: 0.5em;
    }

    button {
      margin-bottom: 1em;
      border: 3px solid $third-color;
      border-radius: 0.5em;
      transition: transform 0.2s;

      &:hover {
        cursor: pointer;
        transform: scale(1.1);
      }
    }

    img {
      border: thin solid black;
      border-radius: 1em;
      width: 250px;

      @include sm {
        width: 150px;
      }
    }

    span {
      margin: 0 2em;
      padding: 0.5em;
    }
  }

  p {
    display: inline;
  }

  .footer {
    position: absolute;
    width: 100%;
    bottom: 0;
  }
}
