.aboutContainer {
  background-image: url("/Home.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $first-color;

  h1 {
    text-shadow: 3px 3px $third-color;
    border-bottom: 3px solid $third-color;
  }

  img {
    width: 200px;
    border-style: groove;
    border-radius: 16px;
  }

  .zoom {
    transition: transform 0.2s;

    &:hover {
      transform: scale(1.1);
    }
  }

  h2 {
    margin: 10px 0 0 0;
  }

  h4 {
    margin: 5px 0 0 0;
  }

  hr {
    width: 50%;
    height: 3px;
    border: none;
    background-color: $third-color;
  }

  table {
    border: groove;
    border-collapse: collapse;
    width: auto;
    margin-bottom: 50px;
  }

  td,
  th {
    border: 1px solid $first-color;
    text-align: left;
    padding: 8px;
  }

  tr {
    background-color: $third-color;
  }

  tr:nth-child(even) {
    background-color: $second-color;
    color: $first-color;
  }
}
