.footerContainer {
  display: flex;
  justify-content: center;
  background-color: $third-color;
  color: $first-color;
  width: 100%;
  height: auto;
  text-align: center;

  p {
    .linkAbout {
      color: $first-color;
      text-decoration: none;
      transition: transform 0.2s;

      &:hover {
        transform: scale(1.1);
        color: $second-color;
      }
    }
  }

  &:hover {
    font-weight: bold;
  }
}
