.landingContainer {
  background-image: url("/Landing.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  position: relative;
  justify-content: center;

  @include sm {
  }

  h1 {
    color: white;
    display: inline;
    position: relative;
    font: 3.5em Helvetica, Sans-Serif;
    letter-spacing: -5px;
  }

  h1:after {
    content: "Drivers by Lisandro Oviedo";
    position: absolute;
    left: 3px;
    top: 1px;
    width: 100%;
    color: rgba(71, 65, 215, 0.5);
  }

  .linkNav {
    position: absolute;
    bottom: 10%;
    text-decoration: none;

    button {
      background-color: #4741d7;
      font-size: 1em;

      button:hover {
        cursor: pointer;
      }
    }
  }
}

// EFECTO BOTÓN
.ovbtngrowskew {
  color: white;
  border: 2px solid #4741d7;
  padding: 16px 20px;
  border-radius: 3px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
}
.ovbtngrowskew:hover {
  color: black;
  cursor: pointer;
}
.ovbtngrowskew::after {
  content: "";
  background: white;
  position: absolute;
  z-index: -1;
  padding: 16px 20px;
  display: block;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.3s ease;
}
.ovbtngrowskew:hover::after {
  transition: all 0.3s ease-out;
  transform: skewX(-45deg) scale(1, 1);
}
