.cardContainer {
  background-color: $second-color;
  border-style: groove;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  width: 200px;
  max-height: auto;
  position: relative;

  @include sm {
    width: 150px;
  }

  img {
    border-radius: 16px 16px 0 0;
    width: 200px;
    max-height: 250px;

    @include sm {
      width: 150px;
      max-height: 200px;
    }
  }

  .zoom {
    transition: transform 0.2s;

    &:hover {
      transform: scale(1.1);
    }
  }

  .infoSection {
    .link {
      text-decoration: none;
    }

    .name {
      margin-left: 10px;
      text-align: center;

      &:hover {
        color: gray;
      }
    }

    h4,
    h5 {
      color: $first-color;
      margin: 0;
      text-transform: capitalize;
    }

    p {
      margin-left: 10px;
      text-transform: capitalize;
    }
  }
}
