.driverContainer {
  background-color: $second-color;
  border-style: groove;
  border-radius: 16px;
  border-color: $third-color;
  display: flex;
  flex-direction: column;
  width: 180px;
  height: max-content;
  position: relative;
  text-transform: capitalize;
  word-break: break-word;

  @include sm {
    width: 130px;
  }

  img {
    border-radius: 16px 16px 0 0;
    width: 100%;
    max-height: 250px;
  }

  .zoom {
    transition: transform 0.2s;

    &:hover {
      transform: scale(1.1);
    }
  }

  .infoSection {
    .link {
      text-decoration: none;
    }

    .name {
      margin-left: 10px;

      &:hover {
        color: gray;
      }
    }

    h4 {
      text-align: center;
      color: $first-color;
      margin: 0;
    }

    p {
      margin-left: 10px;
    }

    b {
      line-height: 1.5;
    }
  }
}
