.errorContainer {
  background-image: url("/Home.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;

  h1,
  h2 {
    color: $first-color;
    margin: 0;
  }

  h2 {
    margin: 0;
  }

  img {
    width: 6em;
  }
}
